extends layout

block content
  h1
    a(href='https://github.com/MediaComem/comem-archioweb/blob/master/exercises/express.md')= title

  h2 Hello World Exercise
  ul
    li
      a(href='/hello') /hello
    li
      a(href='/hello?name=Bob') /hello?name=Bob

  h2 Computations Exercise
  p Use Postman, or run one of the following commands in your terminal with the application running:
  pre
    | $> curl -d '{"numbers":[0,2,32,6,3]}' -H 'Content-Type:application/json' http://localhost:3000/computations
    | {"average":8.6,"total":43,"median":3}
    |
    | $> curl -d '{"numbers":[0,2,6,3]}' -H 'Content-Type:application/json' http://localhost:3000/computations
    | {"average":2.75,"total":11,"median":2.5}

  h2 Reading Exercise
  ul
    li
      a(href='/books/1') /books/1
    li
      a(href='/books/2') /books/2
    li
      a(href='/books/3') /books/3
    li
      a(href='/books/4') /books/4
