---
- name: Install Docker dependencies
  apt:
    name: '{{ item }}'
    state: present
  with_items:
    - ca-certificates
    - curl

- name: Add Docker APT repository key
  get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
  register: docker_apt_key

- name: Add Docker APT repository
  apt_repository:
    repo: deb [arch={{ 'arm64' if ansible_architecture == 'aarch64' else 'amd64' }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
    state: present
  register: docker_apt_repository

- name: Update APT cache
  apt:
    update_cache: yes
  when: docker_apt_key is changed or docker_apt_repository is changed

- name: Install Docker
  apt:
    name: '{{ item }}'
    state: present
  with_items:
    - containerd.io
    - docker-buildx-plugin
    - docker-ce
    - docker-ce-cli
    - docker-compose-plugin

- name: Make sure Docker works
  command: docker run --rm hello-world
